@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Lato', 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: 'Playfair Display', 'Cormorant Garamond', ui-serif, Georgia, serif;
    --font-cursive: 'Great Vibes', cursive;

    --color-emerald-primary: #046307;
    --color-gold: #C5A15C;
    --color-wedding-white: #FFFFFF;
}
